{
 :paths ["src/main/clojure"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  environ/environ     {:mvn/version "1.2.0"}
  cheshire/cheshire   {:mvn/version "5.10.2"}
  clj-http/clj-http   {:mvn/version "3.12.3"}
  jarohen/chime       {:mvn/version "0.3.3"}
  com.taoensso/timbre {:mvn/version "5.1.2"}

  ;; Goole Cloud
  com.google.auth/google-auth-library-oauth2-http {:mvn/version "1.4.0"}
  com.google.cloud/google-cloud-firestore         {:mvn/version "3.0.2"}
  com.google.firebase/firebase-admin              {:mvn/version "8.1.0"}

  ;; Google Cloud Run
  ring/ring-core          {:mvn/version "1.8.1"}
  ring/ring-jetty-adapter {:mvn/version "1.8.1"}
  ring/ring-json          {:mvn/version "0.5.1"}
  }

 :aliases
 {:run   {:main-opts ["-m" "server"]}
  :build {:deps       {io.github.clojure/tools.build   {:git/tag "v0.7.7" :git/sha "1474ad6"}
                       com.google.cloud.tools/jib-core {:mvn/version "0.20.0"}}
          :ns-default build}
  }
 }
